body {
    display: grid;
    position: relative;
    font-size: 3em;
    line-height: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lavender;
    color: dimgrey;
}

button {                    /*style button tags*/
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 40px;
    column-width: 70px;
    background-color: Highlight;
    padding: 40px;
    border-radius: 16px;
    border: 3px solid grey;
    margin: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    position: relative;
    left: 5px;
    top: 500px;
}

    button:hover {           /*style when hover mouse over*/
        background-color: white;
    }

form {             /*style grid*/
    display: grid;
}
label{
    position: relative;
    top: 10px;
}
a{
    text-decoration: none;
    padding: 28px;
}
iframe{            /*style videos*/
    position: absolute;
    left: 550px;
    top: 210px;
    border-radius: 20px;
}
i{
    font-weight: 200;
}